{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
  "settings": {
    "next": {
      "rootDir": "./src/webapp"
    }
  }
}
